<h1 style="text-align: center;">Your Created Car!</h1>


<h2><%=@car.new_car%></h2>
<form action="accelerate" method="get">
  <h3 style="color: red;"><%=@car.no_accel%></h3>
  <input type="submit" value="Accelerate">
</form>

<form action="brake" method="get">
  <input type="submit" value="Brake">
</form>
<br/>
<h2> <%=@car.new_lights%>.</h2>
<form action="lights" method="get">
  <input type="submit" value="Turn Lights On">
</form>
<br/>
  <!-- <input type="radio" name="hey" value="On">On #name is necessary in order for it to toggle
  <input type="radio" name="hey" value="Off">Off-->


<br/>
<form action="park_brake" method="get">
  <!-- <%=radio_button("user", "receive_newsletter", "yes")%>
  <%=radio_button("user", "receive_newsletter", "no")%> -->
 <input type="radio" name="park_brake" value="true" checked="checked"/>ON
 <input type="radio" name="park_brake" value="false" />OFF
 <input type="submit">
 <h2><%=@car.new_brake%></h2>
</form>

<h3 style="background-color: <%=@car.color%>"></h3>


<!-- THIRD PAGE -->
<!-- Do we want to incorporate another button that sends them back to the strart page? -->
